.consultation {
    position: relative;
    bottom: -43%;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 20px;
    border-radius: 2px;
    width: 230px;
    height: 90px;
    text-align: center;
    
}

#consultationImg {
    position: relative;
    top: 25px;
    width: 30px;
    height: 30px;
}

#phoneNumber {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    color: #5bace9;
    top: 20px;
}

#consultationText {
    position: relative;
    font-size: 20px;
    color: #5bace9;
    font-weight: bold;
    top: 10px;
}