        #disclaimerPageTitle {
            width: 100%;
            height: 83px;
            background: #fff;
        }
        
        .disclaimerImg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }


