#disclaimerPageTitle {
    width: 100%;
    height: 60px;
    background: #fff;
}

#disclaimerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
}

#disclaimerPageBody {
    display: block;
    margin-left: 7px;
    margin-right: auto;
    position: relative;
    top: 10px;
    width: 95%;
    height: 84%;
    border: solid 2px;
    font-size: 1.1em;
    padding: 5px 5px 5px 5px;
    text-align: justify;
    z-index: 1;  
}

