       .footer {
            text-align: center;
            bottom: 150px;
            left: 620px;
            position: absolute;
            background: #5bace9;
            width: 604px;
            height: 25px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
        }

        
        .footerText {
            font-size: 11px;
            color: #fff;
        }
        
