        .menuContainer {
            position: absolute;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
            width: 181px;
            height: 253px;
            -webkit-transform-origin: 82.3222891566px 117.9820368079px 0px;
            -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
            background: white;
            left: 382px;
            top: 152px;
        }
        
        .menu {
            position: absolute;
            width: 100%;
            height: 100%;
            list-style: none;
            margin: 0px 0px 3em;
            padding: 0px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(204, 204, 204);
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: rgb(204, 204, 204);
        }
        
        .menu li a {
            text-align: center;
            display: block;
            padding: 10.5px 15px;
            text-decoration: none;
            font-weight: bold;
            color: rgb(91, 172, 233);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(204, 204, 204);
        }

        #submenu {
            //submenu
            box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
            background: white;
            position: absolute;
            left: 150px;
            top: 125.4px;
            //top: 160px;
            visibility: hidden;
            list-style: none;
            overflow: hidden;
            height: 0px;
        }   
        
        #submenu li a {
            //float: left;
            position: relative;
            width: 0px;
        }
        
        /*
        .menu li ul li {
            text-align: center;
            position: relative;
            float: left;
            display: block;
            padding: 8px 15px;
            text-decoration: none;
            font-size: 13px;
            color: #5bace9;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: rgb(204, 204, 204);
        }*/
        
        .menu li:hover > #submenu{
            visibility: visible;
            overflow: visible;
            //width: 100px;
            height: auto;
            display: block;
        }
        
        .menu li a:hover {
            background-color: rgb(91, 172, 233);
            color: rgb(255, 255, 255);
            -webkit-transition: all 0.01s;
            transition: all 0.01s;
        }
        
        .menu li a.selectedMenu {
            background-color: rgb(91, 172, 233);
            color: rgb(255, 255, 255);
        }
        