        #privacyPageTitle {
            width: 100%;
            height: 88px;
            background: #fff;
        }
        
        .privacyImg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

