
        
        #resourcesPage {
            //top: -1550px;
        }

        #resourcesPageTitle {
            width: 100%;
            height: 80px;
            background: #fff;
        }
        
        .resourcesImg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

