
        #servicesPage {
            top: -981.7px;
        }

        #servicesPageTitle {
            width: 100%;
            height: 80px;
            background: #fff;
        }
        
        .servicesImg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #servicesPageBody {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            width: 97%;
            top: 10px;
            height: 465px;
            border: solid 2px;
        }

        #servicesBodyText {
            position: absolute;
            font-size: 24px;
            top: 10px;
            left: 8px;
            width: 95%;
            height: 93%; 
            padding: 5px 5px 5px 5px;
        }        
        
        #servicesList {
            position: absolute;
            font-size: 22px;
            font-weight: bold;
            left: 80px;
            top: 60px;
            margin-left: auto;
            margin-right: auto;
        }
        
        #servicesList li{
            padding-top: 20px;
        }