.contentPanes {
    position: relative;
    width: 604px;
    height: 567px;
    top: 150px;
    left: 620px;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
    background: #ececbd;
    z-index: 1;
}

.contentShow {
    display: block;
}

.contentHide {
    display: none;
}